<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Teachers</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>group</th>
            <th>program</th>
            <th>semester</th>
        </tr>
        <tr th:each="sg : ${studentGroups}">
            <td th:text="${sg.id}">123</td>
            <td th:text="${sg.groupName}">-</td>
            <td th:text="${sg.program}">-</td>
            <td th:text="${sg.semester}">-</td>
        </tr>
    </table>
</body>
</html>